@model OrderVM
@using Bookstore.Utility
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager

<form method="post">
	<input asp-for="OrderHeader.Id" hidden />
	<div class="card">
		<div class="card-header">
			<div class="float-start mt-2">
				<span>Order summary</span>
			</div>
			<div class="float-end">
				<a asp-area="Admin" asp-controller="Order" asp-action="Index" asp-route-status="all" class="btn btn-outline-primary">Back to orders</a>
			</div>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-12 col-lg-6">
					<div class="row">
						<h5 class="text-primary">Order details</h5>
					</div>
					<div class="row mt-2">
						<div class="col-3 mt-1">Name</div>
						<div class="col-9">
							@if (User.IsInRole(BookstoreConstant.Role_User_Admin) || User.IsInRole(BookstoreConstant.Role_User_Employee))
							{
								<input asp-for="OrderHeader.Name" type="text" class="form-control" />
								<span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
							}
							else
							{
								<input asp-for="OrderHeader.Name" disabled type="text" class="form-control" />
							}
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-3 mt-1">Phone</div>
						<div class="col-9">
							@if (User.IsInRole(BookstoreConstant.Role_User_Admin) || User.IsInRole(BookstoreConstant.Role_User_Employee))
							{
								<input asp-for="OrderHeader.PhoneNumber" type="text" class="form-control" />
								<span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
							}
							else
							{
								<input asp-for="OrderHeader.PhoneNumber" disabled type="text" class="form-control" />
							}
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-3 mt-1">Address</div>
						<div class="col-9">
							@if (User.IsInRole(BookstoreConstant.Role_User_Admin) || User.IsInRole(BookstoreConstant.Role_User_Employee))
							{
								<input asp-for="OrderHeader.StreetAddress" type="text" class="form-control" />
								<span asp-validation-for="OrderHeader.StreetAddress" class="text-danger"></span>
							}
							else
							{
								<input asp-for="OrderHeader.StreetAddress" disabled type="text" class="form-control" />
							}
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-3 mt-1">City</div>
						<div class="col-9">
							@if (User.IsInRole(BookstoreConstant.Role_User_Admin) || User.IsInRole(BookstoreConstant.Role_User_Employee))
							{
								<input asp-for="OrderHeader.City" type="text" class="form-control" />
								<span asp-validation-for="OrderHeader.City" class="text-danger"></span>
							}
							else
							{
								<input asp-for="OrderHeader.City" disabled type="text" class="form-control" />
							}
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-3 mt-1">State</div>
						<div class="col-9">
							@if (User.IsInRole(BookstoreConstant.Role_User_Admin) || User.IsInRole(BookstoreConstant.Role_User_Employee))
							{
								<input asp-for="OrderHeader.State" type="text" class="form-control" />
								<span asp-validation-for="OrderHeader.State" class="text-danger"></span>
							}
							else
							{
								<input asp-for="OrderHeader.State" disabled type="text" class="form-control" />
							}
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-3 mt-1">Zip code</div>
						<div class="col-9">
							@if (User.IsInRole(BookstoreConstant.Role_User_Admin) || User.IsInRole(BookstoreConstant.Role_User_Employee))
							{
								<input asp-for="OrderHeader.PostalCode" type="text" class="form-control" />
								<span asp-validation-for="OrderHeader.PostalCode" class="text-danger"></span>
							}
							else
							{
								<input asp-for="OrderHeader.PostalCode" disabled type="text" class="form-control" />
							}
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-3 mt-1">Email</div>
						<div class="col-9">
							<input asp-for="OrderHeader.ApplicationUser.Email" disabled type="text" class="form-control" />
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-3 mt-1">Order date</div>
						<div class="col-9">
							<input value="@Model.OrderHeader.OrderDate.ToShortDateString()" disabled type="text" class="form-control" />
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-3 mt-1">Carrier</div>
						<div class="col-9">
							@if (User.IsInRole(BookstoreConstant.Role_User_Admin) || User.IsInRole(BookstoreConstant.Role_User_Employee))
							{
								<input asp-for="OrderHeader.Carrier" id="carrier" type="text" class="form-control" />
							}
							else
							{
								<input asp-for="OrderHeader.Carrier" disabled type="text" class="form-control" />
							}
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-3 mt-1">Tracking</div>
						<div class="col-9">
							@if (User.IsInRole(BookstoreConstant.Role_User_Admin) || User.IsInRole(BookstoreConstant.Role_User_Employee))
							{
								<input asp-for="OrderHeader.TrackingNumber" id="trackingNumber" type="text" class="form-control" />
							}
							else
							{
								<input asp-for="OrderHeader.TrackingNumber" disabled type="text" class="form-control" />
							}
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-3 mt-1">Shipping date</div>
						<div class="col-9">
							@if (Model.OrderHeader.ShippingDate == default(DateTime)) {
								<input type="text" disabled class="form-control" />
							} else {
								<input value="@Model.OrderHeader.ShippingDate.ToShortDateString()" type="text" disabled class="form-control" />
							}
						</div>
					</div>
					@if (User.IsInRole(BookstoreConstant.Role_User_Admin) || User.IsInRole(BookstoreConstant.Role_User_Employee))
					{
						<div class="row mt-2">
							<div class="col-3 mt-1">Session id</div>
							<div class="col-9">
								<input asp-for="OrderHeader.SessionId" type="text" disabled class="form-control" />
							</div>
						</div>
						<div class="row mt-2">
							<div class="col-3 mt-1">Payment intent id</div>
							<div class="col-9">
								<input asp-for="OrderHeader.PaymentIntentId" type="text" disabled class="form-control" />
							</div>
						</div>
					}
					<div class="row mt-2">
						@if (Model.OrderHeader.SessionId == null)
						{
							<div class="col-3 mt-1">Payment due date</div>
							<div class="col-9">
								@if (Model.OrderHeader.PaymentDueDate == default(DateTime)) {
									<input disabled type="text" class="form-control" />
								}
								else {
									<input value="@Model.OrderHeader.PaymentDueDate.ToShortDateString()"
										disabled type="text" class="form-control" />
								}
							</div>
						}
						else
						{
							<div class="col-3 mt-1">Payment date</div>
							<div class="col-9">
								@if (Model.OrderHeader.PaymentDate == default(DateTime)) {
									<input disabled id="paymentDate" type="text" class="form-control" />
								} else {
									<input value="@Model.OrderHeader.PaymentDate.ToShortDateString()"
										disabled id="paymentDate" type="text" class="form-control" />
								}
							</div>
						}
					</div>
					<div class="row mt-2">
						<div class="col-3 mt-1">Payment status</div>
						<div class="col-9">
							<input asp-for="OrderHeader.PaymentStatus" type="text" disabled class="form-control" />
						</div>
					</div>
					@if (User.IsInRole(BookstoreConstant.Role_User_Admin) || User.IsInRole(BookstoreConstant.Role_User_Employee)) {
						<input type="submit" asp-action="UpdateOrderDetail" class="btn btn-warning form-control mt-3" value="Update order details" />
					}
				</div>

				<div class="col-12 d-lg-none">
					<hr />
				</div>

				<div class="col-12 col-lg-5 offset-lg-1">
					<div class="row">
						<h5 class="text-primary">Order summary</h5>
					</div>
					<div class="card mt-2">
						<div class="card-header">
							Order status - @Model.OrderHeader.OrderStatus<br />
							Payment status - @Model.OrderHeader.PaymentStatus
						</div>
						<div class="card-body">
							@{
								int count = 0;
								int listCount = Model.OrderDetail.Count();
							}
							@foreach (var detail in Model.OrderDetail)
							{
								count++;
								<div class="row">
									<div class="col-8">
										<span class="text-primary">Product: @detail.Product.Title</span><br />
										<small class="text-muted">Price: $@detail.Price.ToString("0.00")</small><br />
										<small class="text-muted">Quantity: @detail.Quantity</small>
									</div>
									<div class="col-4 text-end">
										<p class="text-success">$@((detail.Quantity * detail.Price).ToString("0.00"))</p>
									</div>
								</div>
								@if (count < listCount) {
									<hr />
								}
							}
						</div>
						<div class="card-footer d-flex justify-content-between">
							<span>Total (CAD): </span>
							<span>$@Model.OrderHeader.OrderTotal.ToString("0.00")</span>
						</div>
					</div>
					@if (Model.OrderHeader.ApplicationUserId == userManager.GetUserId(User)
						&& Model.OrderHeader.PaymentStatus == BookstoreConstant.PaymentStatusNotReceived)
					{
						<input type="submit" asp-action="StripePayNow" class="btn btn-success form-control mt-2" value="Pay now" />
					}
					@if (User.IsInRole(BookstoreConstant.Role_User_Admin) || User.IsInRole(BookstoreConstant.Role_User_Employee))
					{
						if (Model.OrderHeader.OrderStatus == BookstoreConstant.StatusConfirmed)
						{
							<input type="submit" asp-action="StartProcessing" class="btn btn-primary form-control mt-2" value="Start processing" />
						}
						else if (Model.OrderHeader.OrderStatus == BookstoreConstant.StatusProcessing)
						{
							<input type="submit" onclick="return validateInput()" asp-action="ShipOrder"
								class="btn btn-primary form-control mt-2" value="Ship order" />
						}

						@if (Model.OrderHeader.OrderStatus != BookstoreConstant.PaymentStatusRefunded &&
								Model.OrderHeader.OrderStatus != BookstoreConstant.StatusCancelled &&
								Model.OrderHeader.OrderStatus != BookstoreConstant.StatusShipped)
						{
							<input type="submit" asp-action="CancelOrder" class="btn btn-danger form-control mt-2" value="Cancel order" />
						}
					}
				</div>
			</div>
		</div>
	</div>
</form>


@section Scripts{
	<partial name="_ValidationScriptsPartial" />
	<script>
		function validateInput() {
			if (document.getElementById("trackingNumber").value == "") {
				Swal.fire({
					icon: "error",
					title: "Tracking number missing",
					text: "Please enter a tracking number",
				});
				return false;
			}
			if (document.getElementById("carrier").value == "") {
				Swal.fire({
					icon: "error",
					title: "Carrier missing",
					text: "Please enter a carrier",
				});
				return false;
			}
			return true;
		}
	</script>

}